

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// * HOME

.landing.ui.grid {
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
}
.home {
  background-color: black;
}

<<<<<<< HEAD
.mapboxgl-map { 
  margin-top: 20px;
}
//* user profile 
.photo-userprofile { 
  width: 150px;
  display: inline;
}
=======
.hero,
.home-subheader {
  font-family: Helvetica;
  color: white;
}

.hero-info {
  position: absolute;
  top: 150px;
  left: 0;
  color: white;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.previews {
  h3 {
    padding-top: 20px;
    padding-left: 20px;
  }
  
.home-column {
  padding: 2px;
}

.home-item {
  position: relative;
  display: block;
  flex: 1 1 0px;
  transition: transform 500ms;
  color: white;
}

.slick-list {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
  img {
    width: 500px;
    max-height: 200px;
  }
}

.home-destination-info,
.home-destination-detail {
  position: absolute;
  bottom: 0;
  margin: 10px;
  visibility: hidden;
}

.home-item:hover {
  .home-destination-info {
    visibility: visible;
  }
}

}

.slick-list {
  padding: 20px;
  padding-left: 0;
  padding-right: 0;
}

// .home-container .home-item:focus,
.home-container .home-item:hover {
  transform: scale(1.2);
  z-index: 1;
}

// .previews {
//   margin: 35px;
// }

.slick-arrow.slick-next {
  margin-right: 30px;
}

.slick-arrow.slick-prev {
  margin-left: 30px;
  z-index: 1;
}

.home-detail-info {
  z-index: 10;
  color: white;
  position: absolute;
  display: block;
  top: 25%;
  left: 15%;
  background-color: rgba(0, 0, 0, 0.8);
  img,
  div {
    margin: 20px;
    // width: 75vw;
  }
  .home-detail-info-close {
    position: absolute;
    top: 20px;
    right: 15px;
  }
}

// NAVBAR
>>>>>>> development

.navbar{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  min-height: 8vh;
  height: 65px;
  font-family: 'Helvetica';
  z-index: 1;
  width: 100%;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav__black{
  background-color: black;
}

.jetflix{
margin-left: -40px;
margin-top: 0px;
object-fit: contain;
position: fixed;
width: 100px;
left: 100px;
// padding-bottom: 20px;
}

.nav-length{
  background-color: black;
}
.logo-to-home{
  display: flex;
  justify-content: flex-start;
  height: 30px;
  width: 50px;
  margin-top: 20px;
}

.nav-container{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-nav, .right-nav{
  display: flex;
  justify-content: space-around;
  // object-fit: contain;
  // position: fixed;
  // width: 100px;
}
.left-nav{
  margin-left: -270px;
}
// .control .navbar-item{
//   width: 100px;
// }
.navbar-link-list{
  margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  text-decoration: none;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: -90px;
  padding-inline-start: 0px;
  justify-content: flex-start;
  // display: flex;
  // align-items: center;
}
.logo-and-main-nav{
  display: flex;
  justify-content: flex-start;
}

.nav-links{
  color: rgb(197, 197, 197);
  text-decoration: none;
  // object-fit: contain;
}

.home-link, .my-list-link, .explore-link{
  padding: 10px;
  padding-top: 15px;
  display: flex;
  justify-content: flex-start;
}
.navbar-link-list-two{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 250px;
  margin-inline-end: -320px;
  padding-inline-start: 0px;
  justify-content: flex-end;
  margin-top: 25px;

.search-bar-link {
  width: 300px;
  margin-right: 20px;
}

// end of NAVBAR

body {
  overflow: hidden;
}

.ui.stacked.segment { 
  background-color: rgba(0,0,0,.75);
  font-weight: bold;
  color: white;
}
.ui.stacked.segment {
  padding-bottom: 1.4em;
  height: 600px;
  width: 480px;
  padding-left: 60px;
  padding-top: 50px;
}

.ui.header.register { 
  color: white;
}

.ui.form input {
  max-width: 250px;
  height: 50px;
  font: 2em;
}

.ui.fluid.input {
  display: flex;
  max-width: 350px; 
  padding: 6px;
}

.ui.red.button { 
max-width: 349px; 
height: 50px;
margin-top: 25px;
}

.ui.message { 
color:red;
}

.account-signin-link{ 
  padding-top: 10px;
}

//login 

.ui.left.aligned.header { 
  color: white;
}

}

.ui.form input {
  max-width: 250px;
  height: 50px;
  font: 2em;
}

.ui.fluid.input {
  display: flex;
  max-width: 350px; 
  padding: 6px;
}

.ui.red.button { 
max-width: 349px; 
height: 50px;
margin-top: 25px;
}

.ui.message { 
color:red;
}

.account-signin-link{ 
  padding-top: 10px;
}

//login 

.ui.left.aligned.header { 
  color: white;
}

.ui.stacked.segment.login{ 
  height: 400px;
}



@media screen and (max-width: 1690px){
  .navbar-link-list{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  text-decoration: none;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 70px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  justify-content: flex-start;
  }
  .navbar-link-list-two{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 250px;
    margin-inline-end: -320px;
    padding-inline-start: 0px;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 1678px){
  .navbar-link-list{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  text-decoration: none;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 80px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  justify-content: flex-start;
    // display: flex;
    // align-items: center;
  }
  .navbar-link-list-two{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 250px;
    margin-inline-end: -300px;
    padding-inline-start: 0px;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 1633px){
  .navbar-link-list{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  text-decoration: none;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 95px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  justify-content: flex-start;
  }
  .navbar-link-list-two{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 250px;
    margin-inline-end: -290px;
    padding-inline-start: 0px;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 1583px){
  .navbar-link-list{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  text-decoration: none;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 120px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  justify-content: flex-start;
  }
  .navbar-link-list-two{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 250px;
    margin-inline-end: -260px;
    padding-inline-start: 0px;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 1551px){
  .navbar-link-list{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  text-decoration: none;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 140px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  justify-content: flex-start;
  }
  .navbar-link-list-two{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 250px;
    margin-inline-end: -240px;
    padding-inline-start: 0px;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 1455px){
  .navbar-link-list{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  text-decoration: none;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 190px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  justify-content: flex-start;
  }
  .navbar-link-list-two{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 250px;
    margin-inline-end: -190px;
    padding-inline-start: 0px;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 1413px){
  .navbar-link-list{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  text-decoration: none;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 205px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  justify-content: flex-start;
  }
  .navbar-link-list-two{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 250px;
    margin-inline-end: -170px;
    padding-inline-start: 0px;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 1350px){
  .navbar-link-list{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  text-decoration: none;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 240px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  justify-content: flex-start;
  }
  .navbar-link-list-two{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 250px;
    margin-inline-end: -140px;
    padding-inline-start: 0px;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 1257px){
  .navbar-link-list{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  text-decoration: none;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 295px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  justify-content: flex-start;
  }
  .navbar-link-list-two{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 250px;
    margin-inline-end: -80px;
    padding-inline-start: 0px;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 1160px){
  .navbar-link-list{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  text-decoration: none;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 330px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  justify-content: flex-start;
  }
  .navbar-link-list-two{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 250px;
    margin-inline-end: -50px;
    padding-inline-start: 0px;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 1111px){
  .navbar-link-list{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  text-decoration: none;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 360px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  justify-content: flex-start;
  }
  .navbar-link-list-two{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 250px;
    margin-inline-end: -20px;
    padding-inline-start: 0px;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 1045px){
  .navbar-link-list{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  text-decoration: none;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 380px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  justify-content: flex-start;

  }
  .navbar-link-list-two{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 250px;
    margin-inline-end: -10px;
    padding-inline-start: 0px;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 1020px){
  .navbar-link-list{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  text-decoration: none;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 400px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  justify-content: flex-start;
  }
  .navbar-link-list-two{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 250px;
    margin-inline-end: 10px;
    padding-inline-start: 0px;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 980px){
  .navbar-link-list{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 400px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    justify-content: flex-start;

  }
  .navbar-link-list-two{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 200px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 954px){
  .navbar-link-list{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  text-decoration: none;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 380px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  justify-content: flex-start;
    // display: flex;
    // align-items: center;
  }
  .navbar-link-list-two{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 150px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 860px){
  .navbar-link-list{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  text-decoration: none;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 400px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  justify-content: flex-start;
    // display: flex;
    // align-items: center;
  }
  .navbar-link-list-two{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 90px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 820px){
  .navbar-link-list{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  text-decoration: none;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 400px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  justify-content: flex-start;
  }
  .navbar-link-list-two{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 50px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 779px){
  .navbar-link-list{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  text-decoration: none;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 390px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  justify-content: flex-start;
  }
  .navbar-link-list-two{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: -10px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 706px){
.jetflix{
  margin-left: -70px;
  width: 60px;
}
.navbar-link-list{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 300px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  justify-content: flex-start;
  font-size: 11px;
  margin-top: -1px;
  }
  .navbar-link-list-two{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: -60px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    justify-content: flex-end;
    font-size: 11px;
    margin-top: 9px;
  }
}
@media screen and (max-width: 588px){
  .jetflix{
    margin-left: -70px;
    width: 60px;
  }
  .navbar-link-list{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 320px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    justify-content: flex-start;
    font-size: 11px;
    margin-top: -1px;
    }
    .navbar-link-list-two{
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      text-decoration: none;
      list-style-type: none;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: -80px;
      margin-inline-end: 0px;
      padding-inline-start: 0px;
      justify-content: flex-end;
      font-size: 11px;
      margin-top: 9px;
    }
<<<<<<< HEAD
  }

// end of NAVBAR


.home {
  background-color: black;
}

.hero,
.home-subheader {
  font-family: Helvetica;
  color: white;
  margin-top: 10px;
  margin-bottom: 5px;
}

.hero-info {
  position: absolute;
  top: 250px;
  left: 0;
  color: white;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.home-column {
  padding: 2px;
}

.home-item {
  position: relative;
  display: block;
  flex: 1 1 0px;
  transition: transform 500ms;
}

.home-container .home-item:focus,
.home-container .home-item:hover {
  transform: scale(1.5);
  z-index: 1;
}

body {
  overflow: hidden;
}

.ui.stacked.segment { 
  background-color: rgba(0,0,0,.75);
  font-weight: bold;
  color: white;
}
.ui.stacked.segment {
  padding-bottom: 1.4em;
  height: 600px;
  width: 480px;
  padding-left: 60px;
  padding-top: 50px;
}

.ui.header.register { 
  color: white;
}

.ui.form input {
  max-width: 250px;
  height: 50px;
  font: 2em;
}

.ui.fluid.input {
  display: flex;
  max-width: 350px; 
  padding: 6px;
}

.ui.red.button { 
max-width: 349px; 
height: 50px;
margin-top: 25px;
}

.ui.message { 
color:red;
}

.account-signin-link{ 
  padding-top: 10px;
}

//login 

.ui.left.aligned.header { 
  color: white;
}

.ui.stacked.segment.login{ 
  height: 400px;
}




//map 
.map-container { 
  border: red;
}

element.style { 
  display:block;
}

}
=======
  }
>>>>>>> development
