// $jetflixbg: '../assets/jetflixbackgroundfinal.jpg';
@import '~bulma/bulma.sass';
@import 'semantic-ui-css/semantic.min.css';
@import "balloon-css";
@import "~@jswork/react-tip/dist/style.scss";

// EXPLORE DESTINATIONS
.feed-title{
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 5px;
  width: 100%;
  height: 50px;
}
.ui.explore-destination-grid{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  // .username-hovered{
  //   display: flex;
  //   justify-content: center;
  //   font-family: 'Helvetica';
  //  text-decoration: none;
  // }
}

// DESTINATION CARD
.tooltip {
  position:relative; /* making the .tooltip span a container for the tooltip text */
  border-bottom:1px dashed #000; /* little indicater to indicate it's hoverable */
.tooltip:before {
  content: attr(data-text); /* here's the magic */
  position:absolute;
  
  /* vertically center */
  top:50%;
  transform:translateY(-50%);
  
  /* move to right */
  left:100%;
  margin-left:15px; /* and add a small left margin */
  
  /* basic styles */
  width:200px;
  padding:10px;
  border-radius:10px;
  background:#000;
  color: #fff;
  text-align:center;

  display:none; /* hide by default */
}
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.css-2b097c-container {
  min-width: 200px;
}

//EXPLORE.JS

// #root {
//   margin-top: 20vh;
//   background-color: rgb(216, 216, 216);
// }
.picture {
  height: 250px;
  width: 250px;
}
.summary {
  padding-top: 15px;
  padding-bottom: 15px;
}

// NAVBAR TRANSITION
// .navbar{
//   background-color: transparent;
// }
// .nav__black{
//   background-color: black;
// }

.landing.ui.grid {
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
}

.mapboxgl-map { 
  margin-top: 20px;
}
//* user profile 
.photo-userprofile { 
  width: 150px;
  display: inline;
}


// HOME

.home-page {
  background-color: black;
  font-family: Helvetica;
  color: white;

  // * Hero
  .hero {
    position: relative;
    img {
      height: 50vh;
      width: auto;
      object-fit: cover;
    }
    .hero-info {
      position: absolute;
      top: 50px;
      left: 0;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 20px;
      border-radius: 5px;
    }
  }

  // * Detail info
  .home-detail-info {
    z-index: 10;
    color: white;
    position: absolute;
    display: block;
    top: 35px;
    left: 10vw;
    background-color: rgba(0, 0, 0, 0.8);
    img,
    div {
      margin: 20px;
      width: 70vw;
    }
    img {
      max-height: 500px;
      object-fit: cover;
    }
    .home-detail-info-close {
      position: absolute;
      top: 20px;
      right: 15px;
    }
    .rating {
      display: inline;
      margin-left: 0;
    }
  }

  // * Previews
  .home-previews {
    h3 {
      padding-top: 35px;
      padding-left: 15px;
      margin-top: 0;
      margin-bottom: 0;
    }
    img {
      height: 180px;
      width: 100%;
      object-fit: cover;
    }
    .home-destination-info {
      position: absolute;
      bottom: 0;
      margin: 10px;
      visibility: hidden;
    }
    .home-container .home-item:hover {
      transform: scale(1.3);
      z-index: 1;
      transition: .5s ease;
      .home-destination-info {
        visibility: visible;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
      }
    }
    .slider {
      .slick-list {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0;
        padding-right: 0;
      }
    }
    .slick-arrow.slick-next {
      margin-right: 30px;
    }
    .slick-arrow.slick-prev {
      margin-left: 30px;
      z-index: 1;
    }
  }
}

@media screen and (max-width: 600px) {
  .home-page {
    .hero {
      img {
        height: 100vh;
        width: auto;
        object-fit: cover;
      }
    }
  }
}

// ! DESTINATION PAGE

.destination-detail {
  img {
    max-height: 75vh;
  }
  .destination-detail-info {
    z-index: 10;
    color: white;
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
  }
}

// DESTINATION CARD
.card {
  display: flex;
  flex-direction: column;
  height:100%;
}
.card-content {
  margin-top:auto;
}
.card-image {
  padding:1rem;
  img {
    height:200px;
    object-fit:contain;
  }
}

//*register and login page jetflix
.home {
  background-color: black;
}

.hero,
.home-subheader {
  font-family: Helvetica;
  color: white;
  // margin-top: 10px;
  margin-bottom: 5px;
}

.hero-info {
  position: absolute;
  top: 250px;
  left: 0;
  color: white;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.home-column {
  padding: 2px;
}

.home-item {
  position: relative;
  display: block;
  flex: 1 1 0px;
  transition: transform 500ms;
}

.home-container .home-item:focus,
.home-container .home-item:hover {
  transform: scale(1.5);
  z-index: 1;
}

.ui.stacked.segment { 
  background-color: rgba(0,0,0,.75);
  font-weight: bold;
  color: white;
}
.ui.stacked.segment {
  padding-bottom: 1.4em;
  height: 600px;
  width: 480px;
  padding-left: 60px;
  padding-top: 50px;
}


// REGISTER
.register-background{
  background-image: './assets/jetflixbackgroundfinal.jpg';
}

.ui.header.register { 
  color: white;
}

.ui.form input {
  max-width: 250px;
  height: 50px;
  font: 2em;
}

.ui.fluid.input {
  display: flex;
  max-width: 350px; 
  padding: 6px;
}

.ui.red.button { 
max-width: 349px; 
height: 50px;
margin-top: 25px;
}

.ui.message { 
color:red;
}

.account-signin-link{ 
  padding-top: 10px;
}

//login 

.ui.left.aligned.header { 
  color: white;
}


.ui.form input {
  max-width: 250px;
  height: 50px;
  font: 2em;
}

.ui.fluid.input {
  display: flex;
  max-width: 350px; 
  padding: 6px;
}

.ui.red.button { 
max-width: 349px; 
height: 50px;
margin-top: 25px;
}

.ui.message { 
color:red;
}

.account-signin-link{ 
  padding-top: 10px;
}

.ui.stacked.segment.login{ 
  height: 400px;
}

.ui.stacked.segment { 
  background-color: rgba(0,0,0,.75);
  font-weight: bold;
  color: white;
}
.ui.stacked.segment {
  padding-bottom: 1.4em;
  height: 600px;
  width: 480px;
  padding-left: 60px;
  padding-top: 50px;
}

.ui.header.register { 
  color: white;
}

.ui.form input {
  max-width: 250px;
  height: 50px;
  font: 2em;
}

.ui.fluid.input {
  display: flex;
  max-width: 350px; 
  padding: 6px;
}

.ui.red.button { 
max-width: 349px; 
height: 50px;
margin-top: 25px;
}

.ui.message { 
color:red;
}

.account-signin-link{ 
  padding-top: 10px;
}

//login 

.ui.left.aligned.header { 
  color: white;
}

.ui.stacked.segment.login{ 
  height: 400px;
}




//map 
.map-container { 
  border: red;
}

element.style { 
  display:block;
}


.user-profile { 


  .ui.icon.button .buttontolike { 
    background-color: red;
  }

  .button.buttontolike.changeposition.add-padding.get-specific { 
    background-color: red;

  }

  .heart-icon { 
    background-color: red;
  }
  .icon {
    width: 10px;
   }
}